@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #1f2937;
	--secondary-color: #10b981;
	--accent-color: #fbbf24;
	--bg-color: #111827;
	--primary-text-color: #e5e7eb;
	--secondary-text-color: #6b7280;
	--border: 2px solid #34d399;
	--border-radius: 32px;
	--box-shadow: 2px 4px 8px rgba(16, 185, 129, 0.3);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "IBM Plex Mono", monospace;
	font-size: 16px;
	background-color: var(--bg-color);
	color: var(--primary-text-color);
	letter-spacing: 1.2px;
	line-height: 1.6;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 1rem 2rem;
	border-radius: var(--border-radius);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

.logo {
	position: relative;
	flex: 0 1 50%;
	font-family: monospace;
	font-size: 1.3rem;
	color: var(--secondary-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	font-weight: 700;
}

.nav-links {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav-links .nav-item {
	list-style: none;
}

.nav-item {
	color: var(--secondary-color);
}

.content {
	margin-top: 150px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1024px) {
	.content {
		width: 100%;
	}
}

.bio {
	display: flex;
	gap: 8rem;
	max-height: 450px;
	padding: 2rem;
}

.bio-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	font-size: 1.6rem;
	text-wrap: wrap;
}

.bio-content .about {
	align-self: self-start;
	margin-bottom: 2rem;
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about h1 {
	font-size: clamp(1.5rem, 2.5vw, 2.7rem);
}

.about span {
	font-size: 1.5rem;
	margin-right: 0.5rem;
	color: var(--secondary-color);
}

.line {
	content: "";
	border-bottom: 1px solid var(--primary-color);
	width: 200px;
	margin: 0 1rem;
}

.bio-content .bio-greeting {
	align-self: self-start;
	font-size: 14px;
	color: var(--secondary-color);
}

.bio-content .bio-name {
	align-self: self-start;
	line-height: 1.4;
	font-size: clamp(1.5rem, 2.5vw, 2.7rem);
	color: var(--primary-text-color);
}

.bio-content .bio-info {
	line-height: 1.4;
	align-self: self-start;
	font-size: clamp(1.5rem, 2.5vw, 2.7rem);
	color: var(--secondary-text-color);
}

.bio-sub-info {
	align-self: flex-start;
	margin-top: 0.5rem;
	width: 40%;
	line-height: 1.9;
	font-size: 14px;
}
.bio-image {
	width: 450px;
	height: auto;
	margin-right: auto;
	position: relative;
	background-color: var(--primary-color);
	clip-path: polygon(100% 0%, 75% 50%, 100% 98%, 25% 98%, 0% 50%, 25% 0%);
	transition: transform 0.3s;
}

.bio-image:hover {
	transform: scale(1.05);
}

.bio-pic {
	width: 100%;
	height: auto;
}

.section-divider {
	border: none;
	height: 2px;
	background-color: var(--secondary-color);
	margin: 2rem 0;
	opacity: 0.5;
}

.tech-stack {
	padding: 2rem;
}

.tech-info {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.tech-heading {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.tech-heading span {
	font-size: 1.5rem;
	color: var(--secondary-color);
	margin-right: 0.5rem;
}

.tech-info {
	text-align: end;
	margin-bottom: 2rem;
}

.tech-heading,
.projects-heading {
	font-size: clamp(1.5rem, 2.5vw, 2.7rem);
	margin-bottom: 0.5rem;
}

.projects-info span {
	font-size: 1.5rem;
	margin-right: 0.5rem;
	color: var(--secondary-color);
}

.tech-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	max-width: 900px;
	margin: 0 auto;
}

.icon-card {
	background-color: var(--primary-color);
	padding: 1rem;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s, box-shadow 0.3s;
	width: 120px;
	height: 120px;
}

.icon-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 10px var(--secondary-color);
}

.tech-icon {
	width: 60px;
	height: 60px;
	filter: drop-shadow(0 0 2px var(--secondary-color));
	transition: transform 0.3s;
}

.icon-card:hover .tech-icon {
	transform: scale(1.1);
}

@media (max-width: 768px) {
	.tech-heading {
		font-size: 1.5rem;
	}

	.icon-card {
		width: 100px;
		height: 100px;
	}
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.projects {
	display: flex;
	padding: 2rem;
	flex-direction: column;
}

.projects-info {
	align-self: self-start;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.projects h3 {
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: center;
}

.projects-content {
	gap: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.project-card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 300px;
	min-height: 340px;
	border-radius: 4px;
	background-color: var(--primary-color);
	padding: 1.5rem;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.project-card:hover {
	transform: translateY(-5px);
	.project-card-heading {
		color: var(--secondary-color);
	}
}

.project-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-card-icon-folder {
	width: 35px;
	height: 35px;
}
.project-card-icon-github {
	width: 25px;
	height: 25px;
}

.project-card-heading,
.project-card-footer {
	margin-top: 1rem;
}

.project-card-heading h2 {
	font-weight: 600;
	font-size: 1.4rem;
}

.project-card-footer span {
	font-size: 14px;
	color: var(--secondary-text-color);
}
